.btn {
    background-color: $color-green;
    border: none;
    color: $color-white;
    font-size: 2rem;
    padding: 1.3rem;
    border-radius: 10rem;
    cursor: pointer;

    box-shadow: 2px 2px 15px 2px rgba($color-grey, 0.7);

    transition: all .2s;

    &:hover {
        transform: scale(1.1);
    }

    &:focus {
        outline: none;
    }
}
