.card {
    width: 60%; 
    background-color: $color-white;   
    margin: 5rem auto; 
    display: flex;
    height: 45rem;   
    color: $color-black;  
    box-shadow: -3px 0px 20px 0px black;
       
    &__left {
        flex: 0 0 50%;  
    }

    &__left img {
        width: 100%;
        height: 100%; 
        object-fit: cover;      
    }

    &__right {
        box-shadow: -9px 0px 20px black;

        display: flex;
        flex-direction: column;
        justify-content: space-between; 
        padding: 1.5rem;
    }

    &__right div:first-child {  
        display: flex;
        justify-content: space-between;  
    }  
    
    &__name {  
        font-size: 3rem;
        padding: 1rem; 
        letter-spacing: 1px;    
        font-weight: 600;
        color: $color-orange;
    }

    &__ingredients {
        display: flex;
        flex-wrap: wrap;
        overflow-y: auto; 
        overflow-x: hidden;
        height: 30%;   
        margin-left: 2.5rem;  

        & > * {
            flex: 0 0 50%;
            font-size: 2rem;
            padding: .5rem;

            i {
                color: $color-orange;
            }
        }
    }

    &__procedure {
        margin-top: 1.8rem;  
        height: 30%;
        overflow-y: auto; 
    }


    &__actions {
        display: flex;
        justify-content: space-between; 
        align-items: center; 
    }


    &__comment {
        font-size: 1.8rem;
        font-family: inherit;
        color: $color-black;
        padding: .5rem;
        border-radius: 2px;
        background-color: transparent;
        border: none;
        border-bottom: 3px solid $color-black;
        display: block;
        width: 50%;
        transition: all 0.3s;

        &::-webkit-input-placeholder {
            color: rgba($color-black, 0.7);  
        }

        &::-moz-placeholder {
            color: rgba($color-black, 0.7);
        }      
        

        &:focus {
            outline: none;  
            border-bottom: 3px solid $color-green-light;
        }

    }

    &__see-comments:link,
    &__see-comments:visited {
        color: $color-grey;
        
        transition: color .2s;
        &:hover{
            color: $color-green;
        }
    }
}

.user {
    display: flex;
    align-items: center;
    align-self: center;
    height: 2rem; 

    &__image { 
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 100%;  
        margin-left: 1rem; 
    }

    &__name {
        height: 100%;
        font-size: 1.8rem;
        cursor: pointer; 
        &:hover{
            color: $color-orange;
        }
    }

}

 