// paras: have you used postition absolute.. at which place...ok...wait a sec
// arjun: sent...at one place ... radio button...in form


.footer {
    background-color: $color-black;
    color: $color-white;
    
    &__content-box {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 3rem;
    }

    &__title-box {
        font-size: 2.3rem;
    }
}