.form{

    &__group:not(:last-child){
        margin-bottom: 1rem;
    }

    &__text-area,
    &__input{
        font-size: 1.3rem;
        font-family: inherit;
        color: $color-white;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($color-grey, .8);
        border: none;
        border-bottom: 3px solid transparent;
        width: 90%;
        display: block;
        transition: all .3s;

        &::-webkit-input-placeholder{
            color: rgba($color-white, .7);
        }

        &::-moz-placeholder{
            color: rgba($color-white, .7);
        }

        &:focus:invalid{
            border-bottom: 3px solid $color-orange;
        }

        &:invalid{
             box-shadow: none;
        }

        &:focus{
            outline:none;
            box-shadow: 0 1rem 2rem rgba($color-white, .1);
            border-bottom: 3px solid $color-green;
        }
    }

    &__label{
        font-size: 1rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s;
    }

    &__input:placeholder-shown + &__label{
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }


    &__radio-group{
        display: inline-block;
        padding-left: 1.5rem;
    }

    &__radio-input{
        display: none;
    }

    &__radio-label{
        font-size: 1.5rem;
        cursor: pointer;
        position: relative;
        padding-left: 4rem;
    }

    &__radio-button{
        height: 3rem;
        width: 3rem;
        border: 5px solid $color-green;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        left: 0;
        top: -.4rem;

        &::after{
            content: "";
            display: block;
            height: 1.3rem;
            width: 1.3rem;
            border-radius: 50%;
            @include absCenter;
            background-color: $color-green;
            opacity: 0;
            transition: opacity .2s;
        }
    }

    &__radio-input:checked ~ &__radio-label &__radio-button::after{
        opacity: 1;   
    }


    &__button {
        margin-top: 2rem;
    }

    &__copyright {
        margin-top: -4rem;
        text-align: end;
        font-size: 1.4rem;
        color: rgba($color-white, .7);
    }
}