//p:

//a:
.form {

    margin-left: 1rem;

    & > div:not(:last-child) {
        margin-bottom: 1rem;
    }

    & > div:last-of-type {
        position: relative;
    }

    &__choose {
        position: absolute;
        top:0;  
        left:1rem;
        z-index: 10;

        background-color: $color-blue-light;
        border: none;
        color: $color-white;
        font-size: 1.8rem;
        width: 40%;  
        padding: .7rem 1rem;
        border-radius: 1rem;
        cursor: pointer;

        box-shadow: 2px 2px 15px 2px rgba($color-grey, 0.7);

        display: block;
    }

    textarea,
    &__input {
        font-size: 2rem;
        font-family: inherit;
        color: $color-grey;
        padding: 1rem 1.5rem;
        border-radius: 2px;
        background-color: $color-onwhite;
        border: none;
        border-bottom: 3px solid transparent; 
        width: 70%;
        display: block;
        transition: all 0.3s;

        &::-webkit-input-placeholder {
            color: rgba($color-grey, 0.7);
        }

        &::-moz-placeholder {
            color: rgba($color-grey, 0.7);
        }      
        &:focus:invalid {
            border-bottom: 3px solid $color-orange;
        }

        &:invalid {
            box-shadow: none;
        }

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, 0.3);
            border-bottom: 3px solid $color-green-light;
        }

        &--file {
            position: absolute;
            z-index: 15;
            top: 0;
            left: 0;
            border: none;
            font-size: 2.5rem;
            display: block;
            opacity: 0;
        }
    }

    textarea {
        margin-bottom: 1rem;
    }

    &__label {
        color: $color-grey;
        font-size: 1.3rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: 0.7rem;
        display: block;
        transition: all 0.3s;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }


    & > div > div {
        display: inline-block;
        &:not(:first-of-type){
            padding-left: 1rem;
        }
    }

    &__radio-input {
        display: none;
    }

    &__radio-label {
        font-size: 1.7rem;
        cursor: pointer;
        position: relative;
        padding-left: 4rem;
    }

    &__radio-label span {
        height: 3rem;
        width: 3rem;
        border: 5px solid $color-green;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        left: 0;
        top: -0.4rem;

        &::after {
            content: "";
            display: block;
            height: 1.3rem;
            width: 1.3rem;
            border-radius: 50%;
            @include absCenter;
            background-color: $color-green;
            opacity: 0;
            transition: opacity 0.2s;
        }
    }

    &__radio-input:checked ~ &__radio-label span::after {
        opacity: 1;
    }

    &__button {
        margin-top: 2rem;
    }

    &__copyright {
        margin-left: 55%;
        display: inline-block;
        font-size: 1.4rem;
        color: rgba($color-black, .9);
        font-weight: 800;
    }

    &__link:link,
    &__link:visited {
        margin-top: 3rem;
        margin-left: 3rem;
        color: $color-grey;
        font-size: 2rem;
    }

    &__link span {
        text-transform: uppercase;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}
