.form-box {
    width: 55%;
    color: $color-black;  

    background-color: $color-white;

    box-shadow: 2px 4px 20px black;
        
    border-top-left-radius: 5rem;
    border-bottom-right-radius: 5rem; 
    padding: 4rem;

    @include respond(tab-port){
        width: 70%; 
    }

    @include respond(phone){  //import likh dia tha maine.. lol
        border-radius: 0;
    }

    h3 {
        font-size: 5rem;
        font-weight: 300;
        margin-bottom: 1.5rem;

        @include respond(tab-port){
            font-size: 4rem;  
        }
    }

    p {
        font-size: 1.8rem;
        font-weight: 800;
        margin-bottom: 2rem;
        margin-left: 1rem;

        @include respond(tab-port){
            font-size: 1.6rem;  
        }
    }
    
}

