.form-box {
    width: 80%;
    background-image: linear-gradient(to right bottom, $color-blue, $color-blue-dark);  //awesome
    padding: 2rem;

    &__form-title {
        font-size: 5rem;
        font-weight: 300;
        margin-bottom: 1rem;
    }

    &__form-text {
        font-size: 2rem;
        margin-bottom: 2rem;
        margin-left: 1rem;
    }
    
}

