.header {
    padding: .5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 0 0 100%; 
    background: $color-black;

    &__title-box {
        margin: 1rem 10rem;
        display: flex;
        align-items: center;
    }

    &__logo {
        font-size: 3rem;
        padding: 0 1.5rem;
        color: $color-white;
    }

    &__name { 
        font-size: 3rem;
        color: $color-white;
    }

    &__list {
        margin: 1rem 10rem;
        display: flex;
    }

    &__list-item a { 
        font-size: 1.7rem;
        display: block;
        padding: 1rem;
        color: white;

        i {
            color: white;
            margin-right: 0.5rem;
        }
    }

    // &__search {
    //     all: unset;
    //     background: white;
    //     padding: 0.5rem;
    //     font-size: 1rem;
    //     border: 1px solid black;
    //     border-radius: 5rem;
    //     text-align: center;
    //     width: 350px;
    // }
}