.header {
    padding: .5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 0 0 100%; 
    background: $color-offwhite;
    border-bottom:3px solid rgba($color-black, .9);
    box-shadow: 3px 4px 12px 0 $color-black;

    @include respond(phone) {
        flex-direction: column;     
    } 

    &__name {
        margin: 1rem 10rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__logo {
        font-size: 3rem;
        padding: 0 1rem;
        color: $color-black;
        width: 9rem;
    }

    &__name { 
        font-size: 3rem;
        color: $color-black;
        transition: all .2s;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__list {
        margin: 1rem 10rem;
        display: flex;
        @include respond(phone) {
            margin: .5rem 0rem;  
        }
    }

    &__list > * {
        @include respond(tab-port){
            display: flex;
            align-items: center;  
        }
    }

    &__list > * a { 
        font-size: 2rem;
        display: flex;
        padding: 1.3rem;
        height: 5rem;
        color: $color-black;
        margin: auto 2rem;
        border-bottom: 0px solid $color-orange;

        &.blue {
            border-bottom: 0px solid $color-blue;
        }

        &.green {
            border-bottom: 0px solid $color-green;
        }

        &.yellow {
            border-bottom: 0px solid $color-yellow;
        }

        
        transition: all .1s;

        &:hover {
            border-bottom: 3px solid $color-orange;

            &.blue {
                border-bottom: 3px solid $color-blue;
            }

            &.green {
                border-bottom: 3px solid $color-green;
            }

            &.yellow {
                border-bottom: 3px solid $color-yellow;
            }
        }

        i {
            color: $color-black;
            margin-right: 0.5rem;

            
        }
    }
}