$color-orange-light: #ff5f2e;
$color-orange: #ff450c; 
$color-orange-dark: #e65613;

$color-green-light: #73D216;
$color-green: #5a8f29;
$color-green-dark: #395a1a;

$color-blue-light: #006888;   
$color-blue: #004e66; 
$color-blue-dark: #003444;

$color-yellow-light: #fcbe32; 
$color-yellow: #e7a103;
$color-yellow-dark: #a47202;

$color-black: #2B2B2B;
$color-grey: #222222;

$color-offwhite: #f6f6e1;  
$color-white: #fff; 
$color-onwhite: #e4e3e3;  


$default-font-size: 1.6rem;

